@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --color-primary: #061d34;
  --color-accent: #e4be6f;
}

@layer base {
  body {
    @apply font-cinzel bg-primary text-white overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }
}
